<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List Commonly used libraries by Data Scientist
*

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++
1. Julia
1. JavaScript
1. php
1. Go
1. Ruby
1. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Numpy
1. Matplotlib
1. SciPy
1. PyTorch
1. TensorFlow
1. Keras
1. Scikit-learn
1. dplyr
1. ggplot2

|Data Science Tools|
|:-----------------|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|
|Spyder|

Below are a few examples of evaluating arithmetic expressions in Python

* 4 + 6 = 10
* (3 + 1) = 4, (2 - 3) = -1, (4 / 2)=2 or (7 * 2)=14 are arithmetic expressions

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
____________________________________________
Mike Musas